@import './variables';
@import "components/breadcrumbs";
@import "components/signup-button";

body {
  margin: 0;
  font-family: sans-serif, serif;
}

a {
  color: $link-blue;
}

a[target=_blank] {
  img {
    height: 0.75em;
    margin-left: 10px;
  }
}

//Required to prevent wagtail adding huge padding to bottom of embeds

.rich-text {
  .responsive-object {
    position: relative;

    iframe, object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.visibly-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}