$black: #000000;
$white: #FFFFFF;

$link-blue: #3471B7;
$link-blue-hover:#646E9B;

$body-text-color:#262626;

$default-font: Arial;
$default-font-color: $black;

$phe-teal: #04857A;
$phe-dark: #292929;
$phe-off-white: #f5f5f5;

$phe-link-color: #3371b7;

$phe-breadcrumb-inactive: #1f1f1b;
$phe-breadcrumb-active: #767676;

$xl-heading-font-size: 70px;
$xl-heading-line-height: 70px;
$l-heading-font-size: 48px;
$l-heading-line-height: 48px;
$m-heading-font-size: 36px;
$m-heading-line-height: 36px;
$s-heading-font-size: 27px;
$s-heading-line-height: 27px;
$xs-heading-font-size: 21px;
$xs-heading-line-height: 21px;

$desktop-body-font-size: 19px;
$desktop-body-line-height: 19px;
$mobile-body-font-size: 16px;
$mobile-body-line-height: 16px;
$small-font-size: 14px;
$small-line-height: 14px;
