{% load staticfiles methods_tags %}


<footer class="footer">
    <a href="{% url 'resources/campaigns' %}">Our Campaigns </a> |
        <a href="{% url 'resources/about' %}">About us </a> |
        <a href="{% url 'resources/faq' %}">FAQs </a> |
        <a href="{% url 'resources/contact_us' %}">Contact us</a> |
        <a href="{% url 'resources/cookie-declaration' %}">Cookie declaration</a> |
        <a href="{% url 'resources/about-us' %}">About PHE </a> |
        <a href="{% url 'resources/what-we-do' %}">What we do </a> |
        <a href="{% url 'resources/privacy-policy' %}">Privacy policy </a> |
        <a href="{% url 'resources/terms-and-conditions' %}">Terms and conditions</a> |
</footer>