{% load staticfiles methods_tags %}


<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="footer-image" alt="Public Health England" src="{% static 'img/phe_logo_footer.svg' %}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="footer-base-links">
                    <li><a href="https://campaignresources.phe.gov.uk/resources/campaigns" class="navigation-link">Our Campaigns</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/about_us" class="navigation-link">About us</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/faqs" class="navigation-link">FAQs</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/contact_us" class="navigation-link">Contact us</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/cookie-declaration" class="navigation-link">Cookie declaration</a></li>
                    {% if accessibility_statement_url %}
                    <li><a href="{{ accessibility_statement_url }}" class="navigation-link">Accessibility statement</a></li>
                    {% endif %}
                    <li><a href="https://campaignresources.phe.gov.uk/resources/about-us>About PHE" class="navigation-link">About PHE</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/what-we-do" class="navigation-link">What we do</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/privacy-policy" class="navigation-link">Privacy policy</a></li>
                    <li><a href="https://campaignresources.phe.gov.uk/resources/terms-and-conditions" class="navigation-link">Terms and conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>