{% load staticfiles methods_tags %}


<footer class="footer">
    <a href="https://campaignresources.phe.gov.uk/resources/campaigns">Our Campaigns </a> |
        <a href="https://campaignresources.phe.gov.uk/resources/about_us">About us </a> |
        <a href="https://campaignresources.phe.gov.uk/resources/faqs">FAQs </a> |
        <a href="https://campaignresources.phe.gov.uk/resources/contact_us">Contact us</a> |
        <a href="https://campaignresources.phe.gov.uk/resources/cookie-declaration">Cookie declaration</a> |
        <a href="https://campaignresources.phe.gov.uk/resources/about-us>About PHE"</a> |
        <a href="https://campaignresources.phe.gov.uk/resources/what-we-do">What we do</a> |
        <a href="https://campaignresources.phe.gov.uk/resources/privacy-policy">Privacy policy </a> |
        <a href="https://campaignresources.phe.gov.uk/resources/terms-and-conditions">Terms and conditions</a> |
</footer>