{% load staticfiles methods_tags %}

<nav class="nav">
  <a href="#main-content" class="screen-reader">skip to main content</a>

  <div class="nav__container container">
    <ul class="nav__desktop-links">
      {% for item in page.menu %}
        {% if item.sub_items %}
          <li class="nav__desktop-dropdown">
            <a class="nav__desktop-dropdown-toggle" href="#">
              {{ item.label }}
            </a>

            <ul class="nav__desktop-dropdown-body">
              {% for sub_item in item.sub_items %}
                <li>
                  <a class="nav__desktop-dropdown-link" href="{{ sub_item.url }}">
                    {{ sub_item.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="nav__desktop-link">
            <a href="{{ item.url }}">
              {{ item.label }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="nav__mobile-nav">
      <i id="burger-menu" class="nav__burger-menu fas fa-bars"></i>
      <i id="close-menu" class="nav__close-menu fas fa-times"></i>
    </div>
  </div>

  <div class="nav__mobile-links">
    {% for item in page.menu %}
      {% if item.sub_items %}
        <div class="nav__mobile-accordion">
          <div class="nav__mobile-accordion-header">
            <p class="nav__mobile-accordion-title">
              {{ item.label }}
            </p>

            <div class="expand">
              <img class="nav-section__icon" src="{% static 'images/menu_down_icon.svg' %}" alt="expand {{ item.label }} drop down menu">
            </div>

            <div class="collapse">
              <img class="nav-section__icon" src="{% static 'images/menu_up_icon.svg' %}" alt="collapse {{ item.label }} drop down menu">
            </div>
          </div>

          <div class="nav__mobile-accordion-body">
            {% for sub_item in item.sub_items %}
              <a class="nav__mobile-accordion-body-link" href="{{ sub_item.url }}">
                {{ sub_item.label }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <a class="nav__mobile-link" href="{{ item.url }}">
          {{ item.label }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</nav>