{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags %}

{#{% block extra_css %}#}
{#    <link href="{% sass_src 'scss/pages/homepage.scss' %}" rel="stylesheet" type="text/css">#}
{#{% endblock %}#}


{% block content %}

    {% image page.banner_image original as banner %}
    {% convert_s3_link banner.url as banner_url %}

    {% include 'partials/banner.html' with heading=page.heading banner_url=banner_url %}
    

    <div id="content">
        <div class="container">
            <div class="page-content spacer-top-2 spacer-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row-fluid">
                            <h2>{{self.subtitle}}</h2>
                            {% for block in page.content %}
                                {% include_block block %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

