{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags %}

{#{% block extra_css %}#}
{#    <link href="{% sass_src 'scss/pages/homepage.scss' %}" rel="stylesheet" type="text/css">#}
{#{% endblock %}#}

{% block content %}

    {% image page.banner_image original as banner %}
    {% convert_s3_link banner.url as banner_url %}

        <div class="container">
            {% include 'partials/breadcrumbs.html' with ancestors=page.breadcrumbs title=page.title %}
        </div>

    <div id="content" class="homepage">
        <div class="crc-shelf sign-in-shelf partners-intro">
            <div class="container odd">

            </div>
        </div>


        <div class="shelf departments">
            <div class="container">
                <h1>Resources</h1>
                <div class="spacer-top-2">
                    {% for asset_type in page.asset_types.all %}

                        {% image asset_type.thumbnail_image original as thumbnail %}
                        {% convert_s3_link thumbnail.url as thumbnail_url %}
                        {% get_child_of_type page asset_type.caption as asset_type_page %}
                        {% if asset_type_page %}
                            <div class="campaign-item col-md-3 col-sm-6" style="margin-bottom:1rem">
                                <a class="campaign-item__link-area"
                                    style="background-image: url({{ thumbnail_url }})"
                                    href="{% pageurl asset_type_page %}">
                                    <h2 class="campaign-item__caption">{{ asset_type.caption }}</h2>
                                    <div class="campaign-item__arrow"></div>
                                    <div class="overlay"></div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}Hey