{% extends "../base.html" %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags static %}

{% block extra_css %}
  <link href="{% sass_src 'scss/reorder.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/reorder.js' %}"></script>
{% endblock %}

{% block content %}

{% image page.banner_image original as banner %}
{% convert_s3_link banner.url as banner_url %}

    <div id="content">
        <div class="row">
            {% include 'partials/breadcrumbs.html' with ancestors=page.breadcrumbs title=page.title %}
        </div>
        <div class="crc-tab-content-shelf">
            <div class="container crc-nav-tab-content">
                <h1>{{page.title}}</h1>
                <div class="resources-search-panel">
                    <div class="row">
                        <div id="search-results-summary" class="col-sm-6">
                            <div class="panel-heading">{{ page.asset_count }} items matching</div>
                        </div>
                                <div class="col-sm-6">
                                    Sort by:
                                    <button class="sort-button" id="order-selector__popular-button">Most popular</button>
                                    <button class="sort-button" id="order-selector__newest-button">Newest</button>
                                </div>
                    </div>
                    <div id="search-results" class="spacer-top-1">
                        <div class="row">
                                <ul id="internal-resources" class="crc-thumbnails">
                                    <li id="popular">
                                        <ul>
                                            {% for resource_page in page.resource_item_pages %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_page column_width=3 header_level='h2'%}
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li id="newest" style="display: none">
                                        <ul>
                                            {% for resource_item_page in page.ordered_resource_item_pages %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_item_page column_width=3 header_level='h2'%}
                                        {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                    </div>

            </div>
        </div>
    </div>

{% endblock %}