{% extends "../base.html" %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags static %}

{% block extra_css %}
  <link href="{% sass_src 'scss/reorder.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/reorder.js' %}"></script>
{% endblock %}

{% block content %}

{% image page.banner_image original as banner %}
{% convert_s3_link banner.url as banner_url %}

<main id="main-content" tabindex="-1">
    <div id="content">
        <div class="row">
            {% include 'partials/breadcrumbs.html' with ancestors=page.breadcrumbs title=page.title %}
        </div>


        <div class="crc-tab-content-shelf">
            <div class="container crc-nav-tab-content">
                <div class="resources-search-panel">
                    <div class="row">
                        <div id="search-results-summary" class="col-xs-6">
                            <div class="panel-heading">{{ page.asset_count }} items matching</div>
                        </div>
                        <div class="col-xs-6 order-selector" style="display: none">
                            Sort by
                            <select id="order-selector__toggle">
                              <option value="popular">Most popular first</option>
                              <option value="newest">Newest first</option>
                              <option value="oldest">Oldest first</option>
                            </select>
                        </div>
                    </div>
                    <div id="search-results" class="spacer-top-1">
                        <div class="row">
                            <ul class="crc-thumbnails">
                                <div id="internal-resources">
                                    <div id="popular">
                                        {% for resource_page in page.resource_item_pages %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_page column_width=3%}
                                        {% endfor %}
                                    </div>
                                    <div id="newest" style="display: none">
                                        {% for resource_item_page in page.ordered_resource_item_pages %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_item_page column_width=3 %}
                                        {% endfor %}
                                    </div>
                                    <div id="oldest" style="display: none">
                                        {% for resource_item_page in page.ordered_resource_item_pages reversed %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_item_page column_width=3 %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}