{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags %}

{#{% block extra_css %}#}
{#    <link href="{% sass_src 'scss/pages/homepage.scss' %}" rel="stylesheet" type="text/css">#}
{#{% endblock %}#}

{% block content %}

    {% image page.banner_image original as banner %}
    {% convert_s3_link banner.url as banner_url %}


    <div id="default-header" class="header " style="background-image: url({{ banner_url }})">
        <div class="container">
            <div class='row vcenter'>
                <div class="col-md-8 header-block accessible-background--teal">
                    <h1>{{ page.heading }}</h1>
                    <p>{{ page.subtitle }}</p>
                    <span class="header-span"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="homepage">
        <div class="crc-shelf sign-in-shelf partners-intro">
            <div class="container odd">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">
                        {{ page.signup_intro }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 signup-button-wrapper">
                        <a class="signup-button" href="{{ subscription_url }}">Subscribe for updates</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="shelf departments">
            <div class="container">
                <h2>{{ page.campaign_list_header }}</h2>
                <div class="spacer-top-2">
                    {% for campaign in page.campaign_items.all %}

                        {% if campaign.show_tile %}
                            {% image campaign.thumbnail_image original as thumbnail %}
                            {% convert_s3_link thumbnail.url as thumbnail_url %}

                            <div class="campaign-item col-md-3 col-sm-6" style="margin-bottom:1rem">
                                <a class="campaign-item__link-area"
                                   style="background-image: url({{ thumbnail_url }})"
                                   href="{% if campaign.campaign_landing_page %}{% pageurl campaign.campaign_landing_page %}{% endif %}">
                                    <h3 class="campaign-item__caption">{{ campaign.caption }}</h3>
                                    <div class="campaign-item__arrow"></div>

                                    <div class="overlay"></div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}