{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags %}

{% block content %}

    {% image page.banner_image original as banner %}
    {% convert_s3_link banner.url as banner_url %}

    {% image page.subpages_background_image original as content %}
    {% convert_s3_link content.url as content_url %}

    {% include 'partials/banner.html' with heading=page.heading banner_url=banner_url %}

    <div id="content">
        <!-- Sign in or register shelf -->
        {% include 'partials/breadcrumbs.html' with ancestors=page.breadcrumbs title=page.title %}

        <div class="crc-shelf sign-in-shelf partners-intro">
            <div class="container odd">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">
                        <p class="spaced-top">{{ page.signup_intro }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 signup-button-wrapper">
                        <a class="signup-button" href="{{ subscription_url }}">Subscribe for updates</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page tabs shelf -->
        <div class="crc-shelf campaign-tabs-shelf one-you-links">
            <div class="links-row" style="background-image: url({{ content_url }}); background-position: 25% 32%">
                <div class="container">
                    <div class="col-md-6 col-xs-12">
                        {% include 'partials/links-block.html' with page=page.overview_subpage heading=page.overview_subpage_heading body=page.overview_subpage_body.content_body %}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        {% include 'partials/links-block.html' with page=page.resources_subpage heading=page.resources_subpage_heading body=page.resources_subpage_body.content_body %}
                    </div>
                </div>
            </div>
        </div>


        <!-- We're here to help shelf -->
        <div class="crc-shelf simple-shelf">
            <div class="container spacer-top-2 spacer-2">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">
                        {{ page.body | richtext }}
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}