{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags sass_tags methods_tags static %}

{% block extra_css %}
  <link href="{% sass_src 'scss/reorder.scss' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/reorder.js' %}"></script>
{% endblock %}

{% block content %}

    {% image page.banner_image original as banner %}
    {% convert_s3_link banner.url as banner_url %}


    <div id="default-header" class="header " style="background-image: url({{ banner_url }})">
        <div class="container">
            <div class='row vcenter'>
                <div class="col-md-8 header-block">
                    <h1>{{ page.site_heading }}</h1>
                    <span class="header-span"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="content">

        {% include 'partials/breadcrumbs.html' with ancestors=page.breadcrumbs title=page.title %}

        <div class="crc-shelf sign-in-shelf partners-intro">
            <div class="container odd">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 text-center">
                        {{ page.signup_message | richtext }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 button-col">
                        <div class="col-xs-12 signup-button-wrapper">
                            <a class="signup-button" href="{{ subscription_url }}">Subscribe for updates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/tabbar.html' with active='resources'  landing_page=page.campaign_slug %}

        <div class="crc-tab-content-shelf">
            <div class="container crc-nav-tab-content">

                <div class="row">
                    <div class='col-sm-3 col-xs-5'>

                        {% image page.sidebar_image width-400 as sidebar_image %}
                        {% if page.sidebar_image %}
                            {% convert_s3_link sidebar_image.url as sidebar_image_url %}
                        {% endif %}

                        <div class="panel-heading">Resources</div>
                        <div class="resource-sidebar__image">
                            <img src="{% if page.sidebar_image %}{{ sidebar_image_url }}{% endif %}" alt="{{ page.sidebar_screenreader_text }}"/>
                        </div>
                        <div class="resource-sidebar__note">
                            {{ page.sidebar_note }}
                        </div>
                    </div>
                    <div class='col-sm-9 col-xs-7'>
                        <div id="search-results-summary">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel-heading">{{ page.resource_count }} items matching</div>
                                </div>
                                <div class="col-sm-6 resources-sort">
                                    Sort by:
                                    <div class="button-container">
                                    <button class="sort-button" id="order-selector__popular-button">Most popular</button>
                                    <button class="sort-button" id="order-selector__newest-button">Newest</button>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <div id="search-results" class="spacer-top-1">
                            <div class="row">
                                    <ul id="internal-resources" class="crc-thumbnails">
                                      <li id="popular">
                                          <ul>
                                            {% for resource_page in page.resource_list %}
                                            {% include 'partials/resource_list_item.html' with resource_page=resource_page column_width=4%}
                                        {% endfor %}
                                          </ul>
                                          
                                      </li>
                                      <li id="newest" style="display: none">
                                        <ul>
                                            {% for resource_page in page.ordered_resource_list %}
                                              {% include 'partials/resource_list_item.html' with resource_page=resource_page column_width=4%}
                                          {% endfor %}
                                        </ul> 
                                      </li>
                                    </ul>
                                    <ul class="crc-thumbnails">
                                        <li>
                                            <ul>
                                                {% for external_resource in page.external_resources.all %}
                                                {% include 'partials/external_resource_item.html' with external_resource=external_resource column_width=4 campaign_name=page.campaign_name%}
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}