@import "../variables";

ol.phe-breadcrumb {
  margin: 1em 0;
  list-style: none;
  background-color: transparent;

  li {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "HelveticaNeueBold", Helvetica, Arial, sans-serif;

    a {
      color: $phe-breadcrumb-inactive;
    }

    a:focus, a:hover {
      text-decoration: underline;
    }
  }

  & > li + li:before {
    content: ">";
    padding: 0 5px;
    color: #ccc
  }


  .active {
    color: $phe-breadcrumb-active;
  }
}